.svn
*~.skp
*.vcxproj.user
v2/3rdParty/glew/doc/*
*.obj

# LaTeX
*.log
*.synctex.gz
*.aux
*.toc
*.out
*.fls
*.fdb_latexmk

# IDEs
.idea/
.vscode/
.vs/

# Output
3d_table_tennis/Debug/
3d_table_tennis/Release/
v2/Debug/
v2/Release/
v2/ui_GLRender.h
v2/ui_ImageInterface.h
.qmake.stash

# System
Thumbs.db
desktop.ini
.DS_Store
