.svn
*~.skp
*.vcxproj.*

# LaTeX
*.log
*.synctex.gz
*.aux
*.toc
*.out
*.fls
*.fdb_latexmk

# IDEs
.idea/
.vscode/
.vs/

# Output
v2/Debug/
v2/Release/
v2/ui_GLRender.h
v2/ui_ImageInterface.h
.qmake.stash

# System
Thumbs.db
desktop.ini
.DS_Store
